<div class="container-fluid w-90">
	<div class="h4 text-center pb-4 fw-bold">
		<div
			*ngIf="authService.isAuthenticated$ | async; else notAuthenticated"
		>
			Welcome to HvZ! Press join to see more details about the game.
		</div>
		<ng-template #notAuthenticated>
			Please login to join a game!
		</ng-template>
	</div>
	<app-game-list [gameList]="games"></app-game-list>
</div>
