<div *ngIf="currentWindowWidth < 768; else notMobile">
	<li *ngIf="_squadMember" class="bg-white container-fluid">
		<div class="row align-items-center" *ngIf="_squadMember.human; else isZombie">
			<div class="m-1 col-4 text-start font-size-custom-smaller">
				{{ _squadMember.name }}
			</div>
			<div class="m-1 col font-size-custom-smaller">
				1
			</div>
			<div class="m-1 col font-size-custom-smaller">
				<div *ngIf="_squadMember.human; else isZombie">
					<img src="../../../assets/images/hvz_markers/player.png" class="custom-width-small" />
					Human
				</div>
			</div>
		</div>
		<ng-template #isZombie>
			<div class="row bg-success-custom align-items-center">
				<div class="m-1 col-4 text-start">
					{{ _squadMember.name }}
				</div>
				<div class="m-1 col">
					1
				</div>
				<div class="m-1 col">
					<img src="../../../assets/images/hvz_markers/zombie.png" class="custom-width-small" />
					Zombie
				</div>
			</div>
		</ng-template>
	</li>
</div>
<ng-template #notMobile>
	<li *ngIf="_squadMember" class="bg-white container-fluid">
		<div class="row align-items-center" *ngIf="_squadMember.human; else isZombie">
			<div class="m-1 col-4 text-start">
				{{ _squadMember.name }}
			</div>
			<div class="m-1 col">
				1
			</div>
			<div class="m-1 col">
				<div *ngIf="_squadMember.human; else isZombie">
					<img src="../../../assets/images/hvz_markers/player.png" class="custom-width-small" />
					Human
				</div>
			</div>
			<div class="col">
	
			</div>
		</div>
		<ng-template #isZombie>
			<div class="row bg-success-custom align-items-center">
				<div class="m-1 col-4 text-start">
					{{ _squadMember.name }}
				</div>
				<div class="m-1 col">
					1
				</div>
				<div class="m-1 col">
					<img src="../../../assets/images/hvz_markers/zombie.png" class="custom-width-small" />
					Zombie
				</div>
				<div class="col">
		
				</div>
			</div>
		</ng-template>
	</li>
</ng-template>
