.bg-success-custom {
    background-color: #9bda92de;
}

.text-shadow {
    text-shadow: 2px 2px 2px #00000020;
}

.custom-padding-bottom {
    padding-bottom: 0.5rem;
}

.custom-width {
    max-width: 30%;
}

.custom-width-medsmall {
    max-width: 25%;
}

.custom-width-small {
    max-width: 20%;
}    

.custom-size-icon {
    max-width: 30%;
    max-height: 30%;
}

.custom-size-house-icon {
    max-width: 100%;

}

.custom-text-size {
    font-size: large;
}

.custom-button-size {
    padding: 0.25rem 1rem!important;
}

@media (min-width: 768px) {

    .text-shadow {
        text-shadow: 2px 2px 2px #00000020;
    }
    
    .custom-width {
        width: 35%;
    }
    
    .custom-width-medsmall {
        width: 25%;
    }
    
    .custom-width-small {
        width: 15%;
    }
    
    .custom-padding-bottom {
        padding-bottom: 0.5rem;
    }

    .custom-margin-right {
        margin-right: 2rem !important;
    }
    
    .custom-margin-left {
        margin-left: 0.5rem !important;
    }   

    .custom-margin {
        margin-right: 6rem;
        margin-left: 0.5rem;
    }

    .custom-size-icon {
        max-width: 100%;
        max-height: 100%;
    }

    .custom-text-size {
        font-size: xx-large;
    }

    .custom-button-size {
        padding: 0.5rem 1rem!important;
    }
}