<div *ngIf="game" class="tab-bg-color w-100 h-100 min-vh-60 min-vw-75">
	<div class="d-flex flex-row px-2 justify-content-around pt-4">
		<div>
			<h2 class="text-shadow custom-text-size fw-bold">{{ game.name }}</h2>
		</div>

		<div *ngIf="!this.inProgress">
			<div *ngIf="this.userService.player$ | async as player; else notRegistered">
				<button
					
					(click)="onLeaveGameClick()"
					class="bg-warning-custom custom-rounded custom-button-size border-0 text-white"
				>
					Leave Game
				</button>
			</div>
			<ng-template #notRegistered>
				<button
					(click)="onRegisterClick()"
					class="bg-info-custom-false custom-rounded custom-button-size border-0 text-white"
				>
					Register As Player
				</button>
			</ng-template>
		</div>
	</div>
	<div *ngIf="currentWindowWidth > 768; else mobileView">
		<div class="container-fluid d-flex flex-row justify-content-evenly pt-3 pb-4">
			<aside class="bg-white custom-rounded p-2 custom-width overflow-auto h-100">
				<div
					class="border-bottom border-custom-color text-start mb-1 fw-bold text-custom-blue-color custom-text-size-details"
				>
					Description
				</div>
				<p class="custom-text-size-small-text fw-normal text-start px-1">
					{{ game.description }}
				</p>
			</aside>
			<aside class="bg-white custom-rounded p-2 custom-width overflow-auto h-100">
				<div
					class="border-bottom border-custom-color text-start mb-1 fw-bold text-custom-blue-color custom-text-size-details"
				>
					Rules
				</div>
				<p class="custom-text-size-small-text fw-normal text-start px-1">{{ game.rules }}</p>
			</aside>
		</div>
	</div>
	<ng-template #mobileView>
		<div class="container-fluid d-flex flex-column justify-content-evenly px-4 pt-3 pb-4">
			<section class="bg-white custom-rounded p-2 custom-width overflow-auto mb-3">
				<div
					class="border-bottom border-custom-color text-start mb-1 fw-bold text-custom-blue-color custom-text-size-details"
				>
					Description
				</div>
				<p class="custom-text-size-small-text fw-normal text-start px-1">
					{{ game.description }}
				</p>
			</section>
			<section class="bg-white custom-rounded p-2 custom-width overflow-auto">
				<div
					class="border-bottom border-custom-color text-start mb-1 fw-bold text-custom-blue-color custom-text-size-details"
				>
					Rules
				</div>
				<p class="custom-text-size-small-text fw-normal text-start px-1">{{ game.rules }}</p>
			</section>
		</div>
	</ng-template>
</div>
