.text-shadow {
    text-shadow: 2px 2px 2px #00000020;
}

.border-custom-color {
    border-color: #0069d15e !important;
}

.custom-width {
    min-width: 80%;
    max-width: 90%;
    max-height: 45%;
    min-height: 40%;
}

.custom-width-medsmall {
    min-width: 20%;
    max-width: 25%;
}

.custom-width-small {
    min-width: 10%;
    max-width: 15%;
}

.custom-text-size {
    font-size: x-large;
}

.custom-text-size-details {
    font-size: medium;
}

.custom-text-size-small-text {
    font-size: small;
}

.custom-button-size {
    padding: 0.25rem 1rem!important;
}

@media (min-width: 768px) {
    .text-shadow {
        text-shadow: 2px 2px 2px #00000020;
    }
    
    .border-custom-color {
        border-color: #0069d15e !important;
    }
    
    .custom-width {
        min-width: 35%;
        max-width: 40%;
    }
    
    .custom-width-medsmall {
        min-width: 20%;
        max-width: 25%;
    }
    
    .custom-width-small {
        min-width: 10%;
        max-width: 15%;
    }

    .custom-text-size {
        font-size: xx-large;
    }

    .custom-text-size-details {
        font-size: large;
    }

    .custom-text-size-small-text {
        font-size: medium;
    }

    .custom-button-size {
        padding: 0.5rem 2rem!important;
    }
}