.custom-rounded-icon {
    border-bottom-right-radius: .25rem!important;
}

div.chat-content {
    border-radius: .25rem;
    height: 30rem;
    margin-bottom: 2rem;
}

.card {
    height: 100%;
    border: 0;
    border-radius: 0;
    border-top-left-radius: .25rem;
    border-top-right-radius: .25rem;
}

.chat-img {
    max-height: 40px;
}