
<div class="container-fluid">
    <div class="chat-content text-left text-start"  *ngIf="playerService.singlePlayer$ | async as player">
        <div class="card overflow-auto">
            <ul class="list-group list-group-flush" *ngFor="let chatMessage of webSocketService.chatMessages">
                <div *ngIf="chatMessage.gameId === gameService.singleGame.gameId" >

                    <div *ngIf="chatMessage.isHumanGlobal && chatMessage.isZombieGlobal; else squad">
                        <li class="list-group-item opacity-75">
                            <img [src]="chatMessage.avatarUrl" alt="User's profile picture" class="rounded-circle img-fluid profile-picture chat-img px-2">
                            <strong class="px-2 opacity-100">{{chatMessage.userName}} (Global):</strong>
                            <span class="px-2 opacity-100">{{chatMessage.message}}</span>
                        </li>
                    </div>

                    <ng-template #squad>
                        <div *ngIf="player.human && squadService.singleSquad?.squadId === chatMessage.squadId; else human">
                            <li class="list-group-item bg-squads opacity-75">
                                <img [src]="chatMessage.avatarUrl" alt="User's profile picture" class="rounded-circle img-fluid profile-picture chat-img">
                                <strong class="px-2 opacity-100">{{chatMessage.userName}} (Squad):</strong>
                                <span class="px-2 opacity-100">{{chatMessage.message}}</span>
                            </li>
                        </div>
                    </ng-template>

                    <ng-template #human>
                        <div *ngIf="player.human && chatMessage.isHumanGlobal; else zombie">
                            <li class="list-group-item bg-human text-light opacity-75">
                                <img [src]="chatMessage.avatarUrl" alt="User's profile picture" class="rounded-circle img-fluid profile-picture chat-img">
                                <strong class="px-2 opacity-100">{{chatMessage.userName}} (Human):</strong>
                                <span class="px-2 opacity-100">{{chatMessage.message}}</span>
                            </li>
                        </div>
                    </ng-template>

                    <ng-template #zombie>
                        <div *ngIf="!player.human && chatMessage.isZombieGlobal">
                            <li class="list-group-item bg-zombies opacity-75">
                                <img [src]="chatMessage.avatarUrl" alt="User's profile picture" class="rounded-circle img-fluid profile-picture chat-img px-2">
                                <strong class="px-2 opacity-100">{{chatMessage.userName}} (Zombie):</strong>
                                <span class="px-2 opacity-100">{{chatMessage.message}}</span>
                            </li>
                        </div>
                    </ng-template>
                </div>
                
            </ul>
        </div>
    
        <form (ngSubmit)="sendMessage(sendForm)" #sendForm="ngForm">
            <div class="chat-send d-flex form-group align-items-stretch">
                
                <div class="dropdown align-items-start">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="input-chatMode" data-bs-toggle="dropdown">
                        {{chatScope}}
                    </button>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" name="global" id="input-global" (click)="selectChatScope('Global')">Global</a>
                        <a class="dropdown-item" name="zombie" id="input-zombie" (click)="selectChatScope('Zombie')" *ngIf="!player.human">Zombie</a>
                        <a class="dropdown-item" name="human" id="input-human" (click)="selectChatScope('Human')" *ngIf="player.human">Human</a>
                        <a class="dropdown-item" name="squad" id="input-squad" (click)="selectChatScope('Squad')" *ngIf="player.human && player.squadMemberId">Squad</a>
                    </div>
                </div>
                
                <div class="input-group bg-white shadow-none">
                    <input type="text" class="form-control shadow-none" name="message" id="input-message" placeholder="Message" autocomplete="off" ngModel>
                    <button type="submit" class="btn btn-link custom-rounded-icon">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-send-fill" viewBox="0 0 16 16">
                            <path d="M15.964.686a.5.5 0 0 0-.65-.65L.767 5.855H.766l-.452.18a.5.5 0 0 0-.082.887l.41.26.001.002 4.995 3.178 3.178 4.995.002.002.26.41a.5.5 0 0 0 .886-.083l6-15Zm-1.833 1.89L6.637 10.07l-.215-.338a.5.5 0 0 0-.154-.154l-.338-.215 7.494-7.494 1.178-.471-.47 1.178Z"/>
                          </svg>
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>
