
<div>

    <h1>external-api works!</h1>

    <button (click)="getGames()">Get games</button>

    <button (click)="getSingleGame(1)">Get games</button>

    <button (click)="getAllPlayers()">Get all players</button>

    <button (click)="getAllPlayersInSquad()">Get all players in squad</button>

    <button (click)="setPlayer()">Set player</button>

    <button (click)="createSquad('A-team')">Create squad</button>
    
    <button (click)="joinSquad(1)">Join squad</button>

    <button (click)="leaveSquad()">Leave squad</button>

    <button (click)="leaveGame()">Leave game</button>

    <button (click)="createGame()">CreateNewGame</button>

    <button (click)="updateGame()">Update game</button>

    <button (click)="deleteGame(1)">Delete game</button>

    <div>

        <ul *ngIf="userService.squad$ | async as squad">
            <b>Squad</b>
            <li>
                 <b>{{squad.name}}</b> 
            </li>
        </ul>

        <p>working?</p>
        <ul *ngIf="game.allGames">
            <b>All games</b>
            <li *ngFor="let game of game.allGames">
                 <b>{{game.name}}</b> 
            </li>
        </ul>

        <ul *ngIf="game$ | async as game">
            <b>Single game</b>
            <li>
                 <b>{{game.name}}</b> 
            </li>
            <b>{{game}}</b>
        </ul>

        <ul *ngIf="playersService.allPlayersInSquad$ | async as players">
            <b>Single game</b>
            <li *ngFor="let player of players">
                 <p>{{player.biteCode}}</p> 
                 <p>{{player.gameId}}</p> 
                 <p>{{player.human}}</p> 
                 <p>{{player.userId}}</p> 
                 <p>{{player.playerId}}</p>
            </li>

        </ul>

    </div>
</div>