<div class="container">
	<div class="row rowHeader">
		<div class="col">
			<div class="card">
				<div class="card-header">
					<p>Admin View</p>
				</div>
			</div>
		</div>
	</div>
	<div class="row rowCards">
		<div class="col colForBox">
			<app-admin-game></app-admin-game>
		</div>
		<div class="col colForBox">
			<app-admin-mission></app-admin-mission>
		</div>
	</div>
	<div>
		<app-player-states></app-player-states>
	</div>
</div>
