.container{
    max-width: 80%;
}
.rowCards {
    padding-bottom: 2rem;
    justify-content: space-around;
    display: flex;
}

.rowHeader {
    padding-bottom: 1rem;
}

.col{
    padding: 1rem;
}

.card {
    background-color: #1a1a22e0;
    opacity: 90%;
}

.card-header p{
    color: #ffffff;
    font-size: 2em;
    display: inline-block;
}