<section
	*ngIf="this.userService.player$ | async as player; else notLoggedIn"
	class="custom-rounded shadow-md game-list-bg-{{ player.human }}"
	style="--bs-bg-opacity: 0.85"
>
	<h2 class="text-white text-center">AVAILABLE GAMES</h2>
	<ul class="pb-4 px-4 list-unstyled">
		<app-game-list-item *ngFor="let game of gameList" [game]="game">
		</app-game-list-item>
	</ul>
</section>
<ng-template #notLoggedIn>
	<section
	class="custom-rounded shadow-md game-list-bg"
	style="--bs-bg-opacity: 0.85"
>
	<h2 class="text-white text-center">AVAILABLE GAMES</h2>
	<ul class="pb-4 px-4 list-unstyled">
		<app-game-list-item *ngFor="let game of gameList" [game]="game">
		</app-game-list-item>
	</ul>
</section>
</ng-template>
