.game-list-bg-false {
    background-color: #6eaf65e0;
}

.game-list-bg-true {
    background-color: #6597afe0;
}

.game-list-bg {
    background-color: #585858e0;
}

.custom-padding {
    padding-left: 2.3rem;
    padding-right: 2.5rem;
}