button:disabled {
    background-color: #e21d1d94 !important;
    color: #ffffffce !important;
    border-color: #5c5c5ccb !important;
}

.custom-width {
    min-width: 33%;
    max-width: 38%;
}

.custom-width-medsmall {
    min-width: 10%;
    max-width: 12%;
}

.custom-width-small {
    min-width: 10%;
    max-width: 15%;
}

.custom-rounded {
    border-radius: .6rem;
}