<div class="tab-bg-color w-100 h-100 min-vh-60 min-vw-75">
	<div *ngIf="userService.player$ | async as player" class="container-fluid d-flex flex-row justify-content-evenly fw-normal">
		<div *ngIf="player.human; else zombie"
			class="bg-white custom-rounded my-4 px-4 custom-width overflow-auto text-center"
			style="height: 50%"
		>
			<img
				src="../../../assets/images/happy.png"
				class="custom-width-medsmall mt-1"
			/>
			<div class="fw-bold font-size-custom-large mb-2">Human</div>
			<div
				
				class="font-size-custom-smaller mb-2"
			>
				Bite Code: {{ player.biteCode }}
			</div>
		</div>
		<ng-template #zombie>

		
		<div
			class="bg-white custom-rounded my-4 px-4 custom-width overflow-auto text-center"
			style="height: 80%;"
		>
			<img
				src="../../../assets/images/zombie.png"
				class="custom-width-medsmall mt-1"
			/>
			<div class="fw-bold font-size-custom-large mb-0">Zombie</div>
			<div
				class="fw-bold font-size-custom-large mb-0 text-custom-red-color"
			>
				Kill Confirmed
			</div>
			<form
				#registerBite="ngForm"
				(ngSubmit)="onSubmitKill(registerBite)"
			>
				<div class="form-group text-start">
					<label
						for="biteCode"
						class="font-size-custom-smaller text-custom-blue-color"
						>Bite Code</label
					>
					<input
						type="text"
						[ngClass]="{
							'is-valid': biteCode.valid,
							'is-invalid':
								biteCode.invalid &&
								(biteCode.dirty || biteCode.touched)
						}"
						id="biteCode"
						name="biteCode"
						class="form-control font-size-custom-smaller"
						placeholder="e.g. HAPPY-CHICKEN-DANCING-FREE"
						pattern="^[A-Za-z]+-[A-Za-z]+-[A-Za-z]+-[A-Za-z]+$"
						minlength="12"
						maxlength="48"
						required
						ngModel
						#biteCode="ngModel"
					/>
					<div
						*ngIf="
							biteCode.errors &&
							biteCode.invalid &&
							(biteCode.dirty || biteCode.touched)
						"
					>
						<p
							class="invalid-feedback mb-1 font-size-custom-smaller"
							style="display: block"
							*ngIf="biteCode.errors['required']"
						>
							The bite code is required.
						</p>
						<p
							class="invalid-feedback mb-1 font-size-custom-smaller"
							style="display: block"
							*ngIf="biteCode.errors['pattern']"
						>
							The bite code is invalid.
						</p>
					</div>
				</div>
				<div class="form-group text-start">
					<label
						for="position"
						class="font-size-custom-smaller text-custom-blue-color"
						>Position</label
					>
					<div class="input-group">
						<input
							type="text"
							id="position"
							name="position"
							class="form-control font-size-custom-smaller"
							ngModel
							#position="ngModel"
							readonly
							[value]="stringPos"
						/>
						<button
							class="btn btn-outline-secondary p-2 py-0"
							type="button"
							(click)="onPositionClick()"
						>
							<img
								src="../../../assets/images/location.png"
								width="22"
								height="22"
							/>
						</button>
					</div>
					<div class="text-muted font-size-custom-smallest small">
						Tip: Press symbol for automatic positioning
					</div>
				</div>
				<div class="form-group text-start">
					<label
						for="description"
						class="font-size-custom-smaller text-custom-blue-color"
						>Description</label
					>
					<textarea
						id="description"
						[ngClass]="{
							'is-valid':
								description.valid &&
								(description.dirty || description.touched),
							'is-invalid':
								description.invalid &&
								(description.dirty || description.touched)
						}"
						name="description"
						rows="2"
						cols="40"
						class="form-control font-size-custom-smaller mb-2"
						style="resize: none"
						ngModel
						#description="ngModel"
						placeholder="e.g. Human dead in classroom"
						pattern="[a-zA-Z0-9.,!?' ]+$"
						maxlength="200"
					></textarea>
					<div
						*ngIf="
							description.errors &&
							description.invalid &&
							(description.dirty || description.touched)
						"
					>
						<p
							class="invalid-feedback mb-1 font-size-custom-smaller"
							style="display: block"
							*ngIf="description.errors['pattern']"
						>
							The description contains invalid characters.
						</p>
					</div>
				</div>
				<button
					type="submit"
					[disabled]="registerBite.invalid"
					class="bg-warning-custom custom-rounded border-0 p-1 px-4 text-white mb-2"
				>
					Register Kill
				</button>
			</form>
		</div>
	</ng-template>
	</div>
</div>
