<!-- Mobile view -->

<div *ngIf="currentWindowWidth < 768; else notMobile">
  <div *ngIf="this.userService.player$ | async as player; else notInGame">
    <nav class="navbar-{{ player.human }} navbar-expand-lg sticky top-0 mb-4">
        <div class="container py-1 px-2">
          <div class="row align-items-center">
            <div class="col-2">
              <a class="navbar-brand" href="#">
                <svg xmlns="http://www.w3.org/2000/svg" width="36" height="36" fill="currentColor" class="bi text-white custom-size-house-icon bi-house show" viewBox="0 0 16 16">
                  <path fill-rule="evenodd" d="M2 13.5V7h1v6.5a.5.5 0 0 0 .5.5h9a.5.5 0 0 0 .5-.5V7h1v6.5a1.5 1.5 0 0 1-1.5 1.5h-9A1.5 1.5 0 0 1 2 13.5zm11-11V6l-2-2V2.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5z"/>
                  <path fill-rule="evenodd" d="M7.293 1.5a1 1 0 0 1 1.414 0l6.647 6.646a.5.5 0 0 1-.708.708L8 2.207 1.354 8.854a.5.5 0 1 1-.708-.708L7.293 1.5z"/>
                </svg>
              </a>
            </div>
            <div *ngIf="this.userService.isAdmin" class="col-2">
              <button (click)="toAdmin()" class="btn font-size-custom-smallest custom-button-size custom-rounded text-white border-2 border-white">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi text-white custom-size-icon bi-tools" viewBox="0 0 16 16">
                  <path d="M1 0 0 1l2.2 3.081a1 1 0 0 0 .815.419h.07a1 1 0 0 1 .708.293l2.675 2.675-2.617 2.654A3.003 3.003 0 0 0 0 13a3 3 0 1 0 5.878-.851l2.654-2.617.968.968-.305.914a1 1 0 0 0 .242 1.023l3.356 3.356a1 1 0 0 0 1.414 0l1.586-1.586a1 1 0 0 0 0-1.414l-3.356-3.356a1 1 0 0 0-1.023-.242L10.5 9.5l-.96-.96 2.68-2.643A3.005 3.005 0 0 0 16 3c0-.269-.035-.53-.102-.777l-2.14 2.141L12 4l-.364-1.757L13.777.102a3 3 0 0 0-3.675 3.68L7.462 6.46 4.793 3.793a1 1 0 0 1-.293-.707v-.071a1 1 0 0 0-.419-.814L1 0zm9.646 10.646a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708zM3 11l.471.242.529.026.287.445.445.287.026.529L5 13l-.242.471-.026.529-.445.287-.287.445-.529.026L3 15l-.471-.242L2 14.732l-.287-.445L1.268 14l-.026-.529L1 13l.242-.471.026-.529.445-.287.287-.445.529-.026L3 11z"/>
                </svg>
                Admin
              </button>
            </div>
            <div class="col-4">
              <h1 class="fw-bold custom-text-size">Humans vs Zombies</h1>
            </div>
            <div *ngIf="player.human; else isZombie" class="col-2 font-size-custom-smaller">
              <img src="../../assets/images/hvz_markers/player.png" class="custom-width-medsmall"/>
              Human
            </div>
            <ng-template #isZombie>
              <div class="col-2 font-size-custom-smaller">
                <img src="../../assets/images/hvz_markers/zombie.png" class="custom-width-medsmall"/>
                Zombie
              </div>
            </ng-template>
            <div class="col-2 text-center">
              <app-auth-button></app-auth-button>
            </div>
          </div>
        </div>
    </nav>
  </div>
  <ng-template #notInGame>
    <nav class="navbar-not-in-game navbar-expand-lg sticky top-0 mb-4">
      <div class="container py-1 px-2">
        <div class="row align-items-center">
          <div class="col-1">
            <a class="navbar-brand" href="#">
              <svg xmlns="http://www.w3.org/2000/svg" width="36" height="36" fill="currentColor" class="bi text-white custom-size-house-icon bi-house show" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M2 13.5V7h1v6.5a.5.5 0 0 0 .5.5h9a.5.5 0 0 0 .5-.5V7h1v6.5a1.5 1.5 0 0 1-1.5 1.5h-9A1.5 1.5 0 0 1 2 13.5zm11-11V6l-2-2V2.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5z"/>
                <path fill-rule="evenodd" d="M7.293 1.5a1 1 0 0 1 1.414 0l6.647 6.646a.5.5 0 0 1-.708.708L8 2.207 1.354 8.854a.5.5 0 1 1-.708-.708L7.293 1.5z"/>
              </svg>
            </a>
          </div>
          <div *ngIf="this.userService.isAdmin; else notAdmin" class="col-2">
            <button (click)="toAdmin()" class="btn font-size-custom-smallest custom-button-size custom-rounded text-white border-2 border-white">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi text-white custom-size-icon bi-tools" viewBox="0 0 16 16">
                <path d="M1 0 0 1l2.2 3.081a1 1 0 0 0 .815.419h.07a1 1 0 0 1 .708.293l2.675 2.675-2.617 2.654A3.003 3.003 0 0 0 0 13a3 3 0 1 0 5.878-.851l2.654-2.617.968.968-.305.914a1 1 0 0 0 .242 1.023l3.356 3.356a1 1 0 0 0 1.414 0l1.586-1.586a1 1 0 0 0 0-1.414l-3.356-3.356a1 1 0 0 0-1.023-.242L10.5 9.5l-.96-.96 2.68-2.643A3.005 3.005 0 0 0 16 3c0-.269-.035-.53-.102-.777l-2.14 2.141L12 4l-.364-1.757L13.777.102a3 3 0 0 0-3.675 3.68L7.462 6.46 4.793 3.793a1 1 0 0 1-.293-.707v-.071a1 1 0 0 0-.419-.814L1 0zm9.646 10.646a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708zM3 11l.471.242.529.026.287.445.445.287.026.529L5 13l-.242.471-.026.529-.445.287-.287.445-.529.026L3 15l-.471-.242L2 14.732l-.287-.445L1.268 14l-.026-.529L1 13l.242-.471.026-.529.445-.287.287-.445.529-.026L3 11z"/>
              </svg>
              Admin
            </button>
          </div>
          <ng-template #notAdmin>
            <div class="col">

            </div>
          </ng-template>
          <div class="col-4">
            <h1 class="fw-bold custom-text-size px-1">Humans vs Zombies</h1>
          </div>
          <div class="col">

          </div>
          <div class="col-2 text-center">
            <app-auth-button></app-auth-button>
          </div>
        </div>
      </div>
    </nav>
  </ng-template>
</div>

<!-- Desktop view -->

<ng-template #notMobile>
  <div *ngIf="this.userService.player$ | async as player; else notInGame">
    <nav class="navbar-{{ player.human }} navbar-expand-lg sticky top-0 mb-4">
      
        <div class="container py-3 px-0">
          <div class="row justify-content-center align-items-center">
            <div class="col">
              <a class="navbar-brand" href="#">
                <svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" fill="currentColor" class="bi text-white custom-size-house-icon bi-house show" viewBox="0 0 16 16">
                  <path fill-rule="evenodd" d="M2 13.5V7h1v6.5a.5.5 0 0 0 .5.5h9a.5.5 0 0 0 .5-.5V7h1v6.5a1.5 1.5 0 0 1-1.5 1.5h-9A1.5 1.5 0 0 1 2 13.5zm11-11V6l-2-2V2.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5z"/>
                  <path fill-rule="evenodd" d="M7.293 1.5a1 1 0 0 1 1.414 0l6.647 6.646a.5.5 0 0 1-.708.708L8 2.207 1.354 8.854a.5.5 0 1 1-.708-.708L7.293 1.5z"/>
                </svg>
              </a>
            </div>
            <div *ngIf="this.userService.isAdmin" class="col fw-bold">
              <button (click)="toAdmin()" class="btn custom-button-size custom-rounded text-white border-2 border-white">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi text-white custom-size-icon bi-tools" viewBox="0 0 16 16">
                  <path d="M1 0 0 1l2.2 3.081a1 1 0 0 0 .815.419h.07a1 1 0 0 1 .708.293l2.675 2.675-2.617 2.654A3.003 3.003 0 0 0 0 13a3 3 0 1 0 5.878-.851l2.654-2.617.968.968-.305.914a1 1 0 0 0 .242 1.023l3.356 3.356a1 1 0 0 0 1.414 0l1.586-1.586a1 1 0 0 0 0-1.414l-3.356-3.356a1 1 0 0 0-1.023-.242L10.5 9.5l-.96-.96 2.68-2.643A3.005 3.005 0 0 0 16 3c0-.269-.035-.53-.102-.777l-2.14 2.141L12 4l-.364-1.757L13.777.102a3 3 0 0 0-3.675 3.68L7.462 6.46 4.793 3.793a1 1 0 0 1-.293-.707v-.071a1 1 0 0 0-.419-.814L1 0zm9.646 10.646a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708zM3 11l.471.242.529.026.287.445.445.287.026.529L5 13l-.242.471-.026.529-.445.287-.287.445-.529.026L3 15l-.471-.242L2 14.732l-.287-.445L1.268 14l-.026-.529L1 13l.242-.471.026-.529.445-.287.287-.445.529-.026L3 11z"/>
                </svg>
                Admin
              </button>
            </div>
            <div class="col-sm-5 text-center">
              <h1 class="fw-bold custom-padding custom-text-size">Humans vs Zombies</h1>
            </div>
              <div class="col fw-bold" *ngIf="player.human; else isZombie">
                <img src="../../assets/images/hvz_markers/player.png" class="custom-width-medsmall"/>
                Human
              </div>
              <ng-template #isZombie>
                <div class="col fw-bold">
                  <img src="../../assets/images/hvz_markers/zombie.png" class="custom-width-medsmall"/>
                  Zombie
                </div>
              </ng-template>
            <div class="col text-center">
              <app-auth-button></app-auth-button>
            </div>
          </div>
        </div>
    </nav>
  </div>
  <ng-template #notInGame>
    <nav class="navbar-not-in-game navbar-expand-lg sticky top-0 mb-4">
      <div class="container py-3 px-0">
        <div class="row align-items-center">
          <div class="col">
            <a class="navbar-brand" href="#">
              <svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" fill="currentColor" class="bi text-white custom-size-house-icon bi-house show" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M2 13.5V7h1v6.5a.5.5 0 0 0 .5.5h9a.5.5 0 0 0 .5-.5V7h1v6.5a1.5 1.5 0 0 1-1.5 1.5h-9A1.5 1.5 0 0 1 2 13.5zm11-11V6l-2-2V2.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5z"/>
                <path fill-rule="evenodd" d="M7.293 1.5a1 1 0 0 1 1.414 0l6.647 6.646a.5.5 0 0 1-.708.708L8 2.207 1.354 8.854a.5.5 0 1 1-.708-.708L7.293 1.5z"/>
              </svg>
            </a>
          </div>
          <div *ngIf="this.userService.isAdmin; else notAdmin" class="col fw-bold">
            <button (click)="toAdmin()" class="btn custom-button-size custom-rounded text-white border-2 border-white">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi text-white custom-size-icon bi-tools" viewBox="0 0 16 16">
                <path d="M1 0 0 1l2.2 3.081a1 1 0 0 0 .815.419h.07a1 1 0 0 1 .708.293l2.675 2.675-2.617 2.654A3.003 3.003 0 0 0 0 13a3 3 0 1 0 5.878-.851l2.654-2.617.968.968-.305.914a1 1 0 0 0 .242 1.023l3.356 3.356a1 1 0 0 0 1.414 0l1.586-1.586a1 1 0 0 0 0-1.414l-3.356-3.356a1 1 0 0 0-1.023-.242L10.5 9.5l-.96-.96 2.68-2.643A3.005 3.005 0 0 0 16 3c0-.269-.035-.53-.102-.777l-2.14 2.141L12 4l-.364-1.757L13.777.102a3 3 0 0 0-3.675 3.68L7.462 6.46 4.793 3.793a1 1 0 0 1-.293-.707v-.071a1 1 0 0 0-.419-.814L1 0zm9.646 10.646a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708zM3 11l.471.242.529.026.287.445.445.287.026.529L5 13l-.242.471-.026.529-.445.287-.287.445-.529.026L3 15l-.471-.242L2 14.732l-.287-.445L1.268 14l-.026-.529L1 13l.242-.471.026-.529.445-.287.287-.445.529-.026L3 11z"/>
              </svg>
              Admin
            </button>
          </div>
          <ng-template #notAdmin>
            <div class="col">

            </div>
          </ng-template>
          <div class="col-sm-5 center">
            <h1 class="fw-bold custom-padding custom-text-size">Humans vs Zombies</h1>
          </div>
          <div class="col">

          </div>
          <div class="col text-center">
            <app-auth-button></app-auth-button>
          </div>
        </div>
      </div>
    </nav>
  </ng-template>
</ng-template>
