.navbar-false {
    background-color: #003300;
    color: white;
}

.navbar-true {
    background-color: #294664;
    color: white;
}

.navbar-not-in-game {
    background-color: #000000;
    color: white;
}

.bg-info:hover {
    background-color: #0c9ebb!important;
}

.custom-width-medsmall {
    max-width: 25%;
}

.custom-size-icon {
    max-width: 30%;
    max-height: 30%;
}

.custom-size-house-icon {
    max-width: 100%;

}

.custom-text-size {
    font-size: large;
}

.custom-button-size {
    padding: 0.25rem 0.75rem!important;
}

@media (min-width: 768px) {
    .navbar-false {
        background-color: #003300;
        color: white;
    }
    
    .navbar-true {
        background-color: #294664;
        color: white;
    }
    
    .navbar-not-in-game {
        background-color: #000000;
        color: white;
    }
    
    .custom-width-medsmall {
        max-width: 30%;
    }
    
    .custom-padding {
        margin-left: 3rem;
    }

    .custom-size-icon {
        max-width: 100%;
        max-height: 100%;
    }

    .custom-size-house-icon {
        max-width: 100%;
        max-height: 100%;
    }

    .custom-text-size {
        font-size: xx-large;
    }

    .bg-info:hover {
        background-color: #0c9ebb!important;
    }

    .custom-button-size {
        padding: 0.5rem 1rem!important;
    }
}