
.map-container {
    position: absolute;
    top: 20;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 30px;
    width: 100%;
  }
  
  .map-frame {
    border: 2px solid black;
  }
  
  #map {
    display: block;
    margin-right: auto;
    margin-left: auto;
    height: 500px;
    width: 100%;
  }
  