<li *ngIf="player" class="bg-white ng-container border border-dark row align-items-center">
	<div class="col">
		<span class="">
			{{ player.name }}
		</span>
	</div>
	<div class="col">
        <span class="alignRight ">
            {{player.human | humanZombie}}
			<button (click)="onChangeClick()" class=" changeBtn btn btn-warning border-dark btn-sm m-1">Change state</button>
        </span>
	</div>
</li>
