<div class="bg-image fixed-bg"
    style="
    position: relative;
    background-image: url(../assets/images/pexels-cottonbro-5435454.jpg);
    width: 100vw;
    height: 100vh;
    background-position: center;
">
    <div class="mask mask-custom"
    style="
    position: relative;
    width: 100vw;
    height: 100vh;
    background-position: center;
    overflow: auto;"
    >
        <app-navbar></app-navbar>
        <app-loading></app-loading>
        <router-outlet></router-outlet>
    </div>
</div>


