<!-- <div>
    <ul *ngIf="auth.user$ | async as user">
        <li>{{ user.name }}</li>
        <li>{{ user.email }}</li>
    </ul>
</div> 

<div *ngIf="auth.user$ | async as user">
    <div class="row align-items-center profile-header">
        <div class="col-md-2 mb-3">
            <img [src]="user.picture" alt="User's profile picture" class="rounded-circle img-fluid profile-picture">
        </div>
        <div class="col-md text-center text-md-left">
            <h2>{{ user.name }}</h2>
            <p class="lead text-muted"> {{ user.email }}</p>
        </div>
    </div>
    <div class="row" *ngIf="profileJson">
        <pre class="col-12 text-light bg-dark p-4"> {{ profileJson }} </pre>
    </div>
</div>-->
<button (click)="userService.getUser()">GET USER</button>
<button (click)="userService.setGame(1)">SET GAME</button>

<div>
    <ul *ngIf="userService.user$ | async as user">
        <li>{{ user.name }}</li>
        <li>{{ user.email }}</li>
        <li>{{ user.userId }}</li>
        
    </ul>
    <ul *ngIf="userService.game$ | async as game">
        <li>{{ game.name }}</li>
    </ul>
    <ul *ngIf="userService.player$ | async as player">
        <li>{{ player.userId }}</li>
    </ul>
</div>

<div *ngIf="userService.user$ | async as user">
    <div class="row align-items-center profile-header">
        
        <div class="col-md text-center text-md-left">
            <h2>{{ user.name }}</h2>
            <p class="lead text-muted"> {{ user.email }}</p>
        </div>
    </div>
    <div class="row" *ngIf="profileJson">
        <pre class="col-12 text-light bg-dark p-4"> {{ profileJson }} </pre>
    </div>
</div>

