<div *ngIf="currentWindowWidth < 768; else notMobile">
	<li *ngIf="_squad" class="bg-white container-fluid">
		<div class="row align-items-center">
			<div class="m-1 col-4 text-start font-size-custom-smaller">
				{{ _squad.name }}
			</div>
			<div class="m-1 col font-size-custom-smaller">
				{{ _squad.memberCount }}
			</div>
			<div class="m-1 col font-size-custom-smaller">
				{{ _squad.memberCount - _squad.humanCount }}
			</div>
			<div class="col">
				<div
					*ngIf="
						this.userService.squad$ | async as squad;
						else notInSquad
					"
				>
					<button
						*ngIf="
							squad.squadId === _squad.squadId;
							else joinedOtherSquad
						"
						(click)="onLeaveSquad()"
						class="btn bg-warning-custom font-size-custom-smallest custom-button-size text-white custom-rounded"
					>
						LEAVE SQUAD
					</button>
					<ng-template #joinedOtherSquad> </ng-template>
				</div>
				<ng-template #notInSquad>
					<button
						(click)="onJoinClick()"
						class="btn bg-info-custom-true font-size-custom-smallest custom-button-size text-white custom-rounded"
					>
						JOIN
					</button>
				</ng-template>
			</div>
		</div>
	</li>
</div>

<!-- Desktop View -->

<ng-template #notMobile>
	<li *ngIf="_squad" class="bg-white container-fluid">
		<div class="row align-items-center">
			<div class="m-1 col-4 text-start">
				{{ _squad.name }}
			</div>
			<div class="m-1 col">
				{{ _squad.memberCount }}
			</div>
			<div class="m-1 col">
				{{ _squad.memberCount - _squad.humanCount }}
			</div>
			<div class="col">
				<div
					*ngIf="
						this.userService.squad$ | async as squad;
						else notInSquad
					"
				>
					<button
						*ngIf="
							squad.squadId === _squad.squadId;
							else joinedOtherSquad
						"
						(click)="onLeaveSquad()"
						class="btn bg-warning-custom custom-button-size text-white custom-rounded"
					>
						LEAVE SQUAD
					</button>
					<ng-template #joinedOtherSquad> </ng-template>
				</div>
				<ng-template #notInSquad>
					<button
						(click)="onJoinClick()"
						class="btn bg-info-custom-true custom-button-size text-white custom-rounded"
					>
						JOIN
					</button>
				</ng-template>
			</div>
		</div>
	</li>
</ng-template>
