.custom-width {
    max-width: 30%;
}

.custom-width-medsmall {
    max-width: 15%;
}

.custom-width-small {
    max-width: 10%;
}    

.custom-size-icon {
    max-width: 30%;
    max-height: 30%;
}

.custom-size-house-icon {
    max-width: 100%;

}

.custom-text-size {
    font-size: large;
}

.custom-button-size {
    padding: 0.25rem 1rem!important;
}

@media (min-width: 768px) {
    .custom-margin-right {
        margin-right: 2rem !important;
    }
    
    .custom-margin-left {
        margin-left: 0.5rem !important;
    }
    
    .custom-width {
        max-width: 35%;
    }
    
    .custom-width-medsmall {
        max-width: 20%;
    }
    
    .custom-width-small {
        max-width: 15%;
    }    

    .custom-margin {
        margin-right: 6rem;
        margin-left: 0.5rem;
    }

    .custom-size-icon {
        max-width: 100%;
        max-height: 100%;
    }

    .custom-size-house-icon {
        max-width: 100%;
        max-height: 100%;
    }

    .custom-text-size {
        font-size: xx-large;
    }

    .custom-button-size {
        padding: 0.5rem 1rem!important;
    }
}

