<div class="container-fluid py-4 w-90 max-h-90" *ngIf=" this.userService.player$ | async as player; else notRegistered">
	<div *ngIf="currentWindowWidth < 768; else notMobile">
		<ul ngbNav #nav="ngbNav" [(activeId)]="active" class="nav-tabs text-white">
			<li [ngbNavItem]="1" (click)="onTabClick()" class="tab-spacing-custom tab-bg-color-{{ player.human }}" >
				<a ngbNavLink class="fw-normal">Game</a>
				<ng-template ngbNavContent>
					<app-game-details [game]="game"></app-game-details>
				</ng-template>
			</li>
			<li ngbDropdown class="nav-item">
				<a href (click)="false" class="nav-link tab-spacing-custom tab-bg-color-{{ player.human }} fw-normal" ngbDropdownToggle>Game Options</a>
				<div ngbDropdownMenu>
				  <button ngbDropdownItem (click)="nav.select(2)">Map</button>
				  <button ngbDropdownItem (click)="nav.select(3)" *ngIf="game.gameState == 'IN_PROGRESS'">Bite</button>
				  <button ngbDropdownItem (click)="nav.select(4)">Squad Register</button>
				  <button ngbDropdownItem *ngIf="this.userService.squad$ | async" (click)="nav.select(5)">Squad Details</button>
				</div>
			</li>
			<li [ngbNavItem]="2" (click)="onTabClick()" class="tab-spacing-custom tab-bg-color-{{ player.human }}" style="display: none;">
				<a ngbNavLink>Bite</a>
				<ng-template ngbNavContent class="custom-padding">
					<app-bite></app-bite>
				</ng-template>
			</li>
			<li [ngbNavItem]="3" (click)="onTabClick()" class="tab-spacing-custom tab-bg-color-{{ player.human }}" style="display: none;">
				<a ngbNavLink>Squad Registration</a>
				<ng-template ngbNavContent>
					<app-squad-registration [game]="game"></app-squad-registration>
				</ng-template>
			</li>
			<li [ngbNavItem]="4" (click)="onTabClick()" *ngIf="this.userService.squad$ | async as squad" class="tab-spacing-custom tab-bg-color-{{ player.human }}" style="display: none;">
				<a ngbNavLink>Squad Details</a>
				<ng-template ngbNavContent> 
					<app-squad-details [_game]="game" [_squad]="squad"></app-squad-details>
				</ng-template>
			</li>

			<li [ngbNavItem]="5" (click)="onTabClick()" class="tab-spacing-custom tab-bg-blue">
				<a ngbNavLink class="fw-normal">Chat</a>

				<ng-template ngbNavContent> 
					<app-chat></app-chat>
				</ng-template>
			</li>
			<button type="button" class="btn btn-success rounded-0 custom-rounded-map" (click)="onClick()">Show Map</button>
		</ul>
		<div [ngbNavOutlet]="nav" class="mt-2"></div>
	</div>
	<ng-template #notMobile>
		<ul ngbNav #nav="ngbNav" [(activeId)]="active" class="nav-tabs text-white">
			<li [ngbNavItem]="1" (click)="onTabClick()" class="tab-spacing-custom tab-bg-color-{{ player.human }}">
				<a ngbNavLink class="fw-normal">Game</a>
				<ng-template ngbNavContent>
					<app-game-details [game]="game"></app-game-details>
				</ng-template>
			</li>

			<li [ngbNavItem]="2" (click)="onTabClick()" class="tab-spacing-custom tab-bg-color-{{ player.human }}" *ngIf="game.gameState == 'IN_PROGRESS'">
				<a ngbNavLink class="fw-normal">Bite</a>

				<ng-template ngbNavContent class="custom-padding">
					<app-bite></app-bite>
				</ng-template>
			</li>

			<li [ngbNavItem]="3" (click)="onTabClick()" class="tab-spacing-custom tab-bg-color-{{ player.human }}">
				<a ngbNavLink class="fw-normal">Squad Registration</a>

				<ng-template ngbNavContent>
					<app-squad-registration [game]="game"></app-squad-registration>
				</ng-template>
			</li>

			<li [ngbNavItem]="4" (click)="onTabClick()" *ngIf="this.userService.squad$ | async as squad" class="tab-spacing-custom tab-bg-color-{{ player.human }}">
				<a ngbNavLink class="fw-normal">Squad Details</a>

				<ng-template ngbNavContent> 
					<app-squad-details [_game]="game" [_squad]="squad"></app-squad-details>
				</ng-template>
			</li>

			<li [ngbNavItem]="5" (click)="onTabClick()" class="tab-spacing-custom tab-bg-blue">
				<a ngbNavLink class="fw-normal">Chat</a>

				<ng-template ngbNavContent> 
					<app-chat> </app-chat>
				</ng-template>
			</li>
			<button type="button" class="btn btn-success rounded-0 custom-rounded-map" (click)="onClick()">Show Map</button>
		</ul>
		<div [ngbNavOutlet]="nav" class="mt-2"></div>
		
	</ng-template>
</div>
<ng-template #notRegistered>
	<div class="container-fluid py-4 w-90 max-h-90">
		<ul ngbNav #nav="ngbNav" [(activeId)]="active" class="nav-tabs text-white">
			<li [ngbNavItem]="1" class="tab-spacing-custom tab-bg-blue">
				<a ngbNavLink class="fw-normal">Game</a>
				<ng-template ngbNavContent>
					<app-game-details [game]="game"></app-game-details>
				</ng-template>
			</li>
		</ul>
		<div [ngbNavOutlet]="nav" class="mt-2"></div>
	</div>
</ng-template>
