.tab-bg-color-false {
    background-color: #6EAF65;
    border-top-left-radius: 0.28rem;
    border-top-right-radius: 0.28rem;
    font-weight: 600;
}

.tab-bg-color-true {
    background-color: #6597af;
    border-top-left-radius: 0.28rem;
    border-top-right-radius: 0.28rem;
    font-weight: 600;
}

.tab-bg-blue {
    background-color: #18b3e2;
    border-top-left-radius: 0.28rem;
    border-top-right-radius: 0.28rem;
    font-weight: 600;
}

.mt-2 {
    margin-top: 0rem!important;
    margin-bottom: 2rem!important;
    padding-bottom: 1rem!important;
}

.nav-tabs {
    border-bottom: 0;
}

.nav {
    padding-left: 0.5rem;
}

.tab-spacing-custom {
    margin-right: 0.2rem;
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    color: #000000;
    background-color: #F6EDD9;
    border-color: #F6EDD9 #F6EDD9 #F6EDD9;
}

.nav-link {
    color: white;
}

.custom-rounded-map {
    border-top-left-radius: 0.28rem!important;
    border-top-right-radius: 0.28rem!important;
}

.btn-success:hover {
    border-color: #F6EDD9 #F6EDD9 #F6EDD9;
}

@media (min-width: 768px) {
    .tab-bg-color-false {
        background-color: #6EAF65;
        border-top-left-radius: 0.28rem;
        border-top-right-radius: 0.28rem;
        font-weight: 600;
    }
    
    .tab-bg-color-true {
        background-color: #6597af;
        border-top-left-radius: 0.28rem;
        border-top-right-radius: 0.28rem;
        font-weight: 600;
    }
    
    .tab-bg-blue {
        background-color: #18b3e2;
        border-top-left-radius: 0.28rem;
        border-top-right-radius: 0.28rem;
        font-weight: 600;
    }
    
    .mt-2 {
        margin-top: 0rem!important;
        margin-bottom: 2rem!important;
        padding-bottom: 1rem!important;
    }
    
    .nav-tabs {
        border-bottom: 0;
    }
    
    .nav {
        padding-left: 1.5rem;
    }
    
    .tab-spacing-custom {
        margin-right: 0.3rem;
    }
    
    .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
        color: #000000;
        background-color: #F6EDD9;
        border-color: #F6EDD9 #F6EDD9 #F6EDD9;
    }
    
    .nav-link {
        color: white;
    }

    .custom-rounded-map {
        border-top-left-radius: 0.28rem!important;
        border-top-right-radius: 0.28rem!important;
    }

    .btn-success:hover {
        border-color: #F6EDD9 #F6EDD9 #F6EDD9;
    }
}