
<div class="container-fluid">
    <div class="map-frame">
        <div #leafletMap id="leafletMap"
        style="height: 400px; width: 100%;"
        leaflet 
        [leafletOptions]="options"
        [leafletLayersControl]="layersControl"
        (leafletMapReady)="onMapReady($event)"
        >
        </div>
    </div>
</div>


