.loading {
    position: fixed;
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      top: 0;
      left: 0;
      background-color: rgba(255, 255, 255, 0.5);
      z-index: 998;
  }
  
  .loading-content {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      top: 0;
      left: 0;
      z-index: 998;
    }