<div>
	<div class="card">
		<div class="card-header">
			<p>Game</p>
		</div>
		<div class="game-new">
			<button
				class="btn btn-warning"
				data-bs-toggle="modal"
				data-bs-target="#createGameModal"
			>
				New Game
			</button>
		</div>
		<div class="game-edit">
			<div>
				<form [formGroup]="gameIdForm" (ngSubmit)="onGameIdSubmit()">
					<div class="mb-3">
						<select
							id="gameId"
							formControlName="gameId"
							name="gameId"
							placeholder="Game Id"
							required
							class="form-select"
						>
							<option value="" disabled selected>
								Select Game
							</option>
							<option
								*ngFor="let game of this.gameService.allGames"
								[ngValue]="game.gameId"
							>
								{{ game.name }}
							</option>
						</select>
					</div>
					<button
						type="submit"
						class="btn btn-light"
						data-bs-toggle="modal"
						data-bs-target="#editGameModal"
						[disabled]="gameIdForm.invalid"
					>
						Edit Game
					</button>
				</form>
			</div>
		</div>
	</div>
</div>

<!-- Modal -->
<div
	class="modal fade"
	id="createGameModal"
	tabindex="-1"
	aria-labelledby="createGameModalLabel"
	aria-hidden="true"
>
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h5
					class="modal-title createGameText"
					id="createGameModalLabel"
				>
					Create new game
				</h5>
				<button
					type="button"
					class="btn-close"
					data-bs-dismiss="modal"
					aria-label="Close"
				></button>
			</div>
			<div class="modal-body">
				<form
					[formGroup]="createGameForm"
					#createNewGameForm="ngForm"
					(ngSubmit)="onSubmit()"
				>
					<div class="mb-3">
						<label for="inputGameName" class="form-label"
							>Name</label
						>
						<input
							type="text"
							class="form-control"
							id="inputGameName"
							formControlName="inputGameName"
							name="inputGameName"
							required
						/>
					</div>
					<div class="mb-3">
						<label for="inputGameDescription" class="form-label"
							>Description</label
						>
						<textarea
							type="text"
							class="form-control"
							id="inputGameDescription"
							formControlName="inputGameDescription"
							name="inputGameDescription"
							rows="4"
							required
						></textarea>
					</div>
					<div class="mb-3">
						<label for="inputNwLat" class="form-label"
							>NW Latitude</label
						>
						<input
							type="number"
							class="form-control"
							id="inputNwLat"
							formControlName="inputNwLat"
							name="inputNwLat"
							min="-90"
							max="90"
							aria-describedby="nwLatHelp"
							required
						/>
						<div id="nwLatHelp" class="form-text">
							Min: -90. Max: 90.
						</div>
					</div>
					<div class="mb-3">
						<label for="inputNwLong" class="form-label"
							>NW Longitude</label
						>
						<input
							type="number"
							class="form-control"
							id="inputNwLong"
							formControlName="inputNwLong"
							name="inputNwLong"
							min="-180"
							max="180"
							aria-describedby="nwLongHelp"
							required
						/>
						<div id="nwLongHelp" class="form-text">
							Min: -180. Max: 180.
						</div>
					</div>
					<div class="mb-3">
						<label for="inputSeLat" class="form-label"
							>SE Latitude</label
						>
						<input
							type="number"
							class="form-control"
							id="inputSeLat"
							formControlName="inputSeLat"
							name="inputSeLat"
							min="-90"
							max="90"
							aria-describedby="seLatHelp"
							required
						/>
						<div id="seLatHelp" class="form-text">
							Min: -90. Max: 90.
						</div>
					</div>
					<div class="mb-3">
						<label for="inputSeLong" class="form-label"
							>SE Longitude</label
						>
						<input
							type="number"
							class="form-control"
							id="inputSeLong"
							formControlName="inputSeLong"
							name="inputSeLong"
							min="-180"
							max="180"
							aria-describedby="seLongHelp"
							required
						/>
						<div id="seLongHelp" class="form-text">
							Min: -180. Max: 180.
						</div>
					</div>
					<button
						type="submit"
						class="btn btn-primary"
						data-bs-dismiss="modal"
						[disabled]="createNewGameForm.form.invalid"
					>
						Create
					</button>
				</form>
			</div>
			<div class="modal-footer">
				<button
					type="button"
					class="btn btn-warning"
					data-bs-dismiss="modal"
				>
					Close
				</button>
			</div>
		</div>
	</div>
</div>

<!-- Edit Game -->
<div
	class="modal fade"
	id="editGameModal"
	tabindex="-1"
	aria-labelledby="editGameModalLabel"
	aria-hidden="true"
>
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title createGameText" id="editGameModalLabel">
					Edit game
				</h5>
				<button
					(click)="onClose()"
					type="button"
					class="btn-close"
					data-bs-dismiss="modal"
					aria-label="Close"
				></button>
			</div>
			<div class="modal-body">
				<form [formGroup]="editGameForm" (ngSubmit)="onEdit()">
					<div class="mb-3">
						<label for="gameName" class="form-label"
							>Game Name</label
						>
						<input
							type="text"
							class="form-control"
							id="gameName"
							formControlName="gameName"
							name="gameName"
							required
						/>
					</div>
					<div class="mb-3">
						<label for="gameState" class="form-label">State</label>
						<select
							name="gameState"
							id="gameState"
							formControlName="gameState"
							class="form-select"
							required
						>
							<option value="0">
								Registration
							</option>
							<option value="1" >In progress</option>
							<option value="2">Complete</option>
						</select>
					</div>
					<div class="mb-3">
						<label for="gameDescription" class="form-label"
							>Description</label
						>
						<textarea
							type="text"
							class="form-control"
							id="gameDescription"
							formControlName="gameDescription"
							name="gameDescription"
							required
							rows="4"
						></textarea>
					</div>
					<div class="mb-3">
						<label for="nwLat" class="form-label"
							>NW Latitude</label
						>
						<input
							type="number"
							class="form-control"
							id="nwLat"
							formControlName="nwLat"
							name="nwLat"
							min="-90"
							max="90"
							aria-describedby="nwLatHelp"
							required
						/>
						<div id="nwLatHelp" class="form-text">
							Min: -90. Max: 90.
						</div>
					</div>
					<div class="mb-3">
						<label for="nwLong" class="form-label"
							>NW Longitude</label
						>
						<input
							type="number"
							class="form-control"
							id="nwLong"
							formControlName="nwLong"
							name="nwLong"
							min="-180"
							max="180"
							aria-describedby="nwLongHelp"
							required
						/>
						<div id="nwLongHelp" class="form-text">
							Min: -180. Max: 180.
						</div>
					</div>
					<div class="mb-3">
						<label for="seLat" class="form-label"
							>SE Latitude</label
						>
						<input
							type="number"
							class="form-control"
							id="seLat"
							formControlName="seLat"
							name="seLat"
							min="-90"
							max="90"
							aria-describedby="seLatHelp"
							required
						/>
						<div id="seLatHelp" class="form-text">
							Min: -90. Max: 90.
						</div>
					</div>
					<div class="mb-3">
						<label for="seLong" class="form-label"
							>SE Longitude</label
						>
						<input
							type="number"
							class="form-control"
							id="seLong"
							formControlName="seLong"
							name="seLong"
							min="-180"
							max="180"
							aria-describedby="seLongHelp"
							required
						/>
						<div id="seLongHelp" class="form-text">
							Min: -180. Max: 180.
						</div>
					</div>
					<button
						type="submit"
						class="btn btn-primary"
						data-bs-dismiss="modal"
						[disabled]="editGameForm.invalid"
					>
						Update
					</button>
				</form>
			</div>
			<div class="modal-footer">
				<button
					(click)="onClose()"
					type="button"
					class="btn btn-warning"
					data-bs-dismiss="modal"
				>
					Close
				</button>
			</div>
		</div>
	</div>
</div>
