<div>
    <div class="card">
        <div class="card-header">
            <div>
                <div>
                    <p>Player States</p>
                </div>
                <div>
                    <div class="game-edit">
                        <div>
                            <form [formGroup]="chooseGame" (ngSubmit)="onChooseGameSubmit()">
                                <div class="row">
                                    <div class="mb-3 col-sm-8">
                                        <select
                                            id="gameId"
                                            formControlName="gameId"
                                            name="gameId"
                                            placeholder="Game Id"
                                            required
                                            class="form-select"
                                        >
                                            <option value="" disabled selected>
                                                Select Game
                                            </option>
                                            <option
                                                *ngFor="let game of this.gameService.allGames"
                                                [ngValue]="game.gameId"
                                            >
                                                {{ game.name }}
                                            </option>
                                        </select>
                                    </div>
                                    <div class="col-sm-4 text-start">
                                        <button
                                            type="submit"
                                            class="btn btn-light"
                                            [disabled]="chooseGame.invalid"
                                        >
                                            Search
                                        </button>
                                    </div>
                                </div>
                            </form>
                </div>
            </div>
        </div>
        <app-player-states-list [playerList]="players"></app-player-states-list>
    </div>
</div>
