<div>
    <div class="px-4 row text-white">
		<div class="col">
            <h4 class="">Player</h4>
		</div>
		<div class="col">
            <h4 class="alignRight">State</h4>
		</div>
    </div>
	<ul class="pb-4 px-4 list-unstyled">
		<app-player-states-list-item
			*ngFor="let player of playerList"
			[player]="player"
		></app-player-states-list-item>
	</ul>
</div>
