.btn-success {
    background-color: #003300;
}

.btn-danger {
    background-color: #4b0606;
}

.custom-rounded {
    border-radius: .6rem;
}

.custom-size-icon {
    max-width: 40%!important;
    max-height: 40%!important;
}

.custom-button-size-auth {
    padding: 0.25rem 1rem!important;
}

@media (min-width: 768px) {
    .btn-success {
        background-color: #003300;
    }
    
    .btn-danger {
        background-color: #4b0606;
    }
    
    .custom-rounded {
        border-radius: .6rem;
    }

    .custom-size-icon {
        max-width: 100%;
        max-height: 100%;
    }
    
    .custom-button-size-auth {
        padding: 0.5rem 2rem!important;
    }
}