<div *ngIf="currentWindowWidth < 768; else notMobile">
	<ng-container *ngIf="auth.isAuthenticated$ | async; else loggedOut">
		<button
			(click)="auth.logout({ returnTo: document.location.origin })"
			class="btn text-white font-size-custom-smallest custom-button-size-auth custom-rounded border-2 border-white"
		>
			<svg
				xmlns="http://www.w3.org/2000/svg"
				width="12"
				height="12"
				fill="currentColor"
				class="bi bi-box-arrow-in-left custom-size-icon text-white"
				viewBox="0 0 16 16"
			>
				<path
					fill-rule="evenodd"
					d="M10 3.5a.5.5 0 0 0-.5-.5h-8a.5.5 0 0 0-.5.5v9a.5.5 0 0 0 .5.5h8a.5.5 0 0 0 .5-.5v-2a.5.5 0 0 1 1 0v2A1.5 1.5 0 0 1 9.5 14h-8A1.5 1.5 0 0 1 0 12.5v-9A1.5 1.5 0 0 1 1.5 2h8A1.5 1.5 0 0 1 11 3.5v2a.5.5 0 0 1-1 0v-2z"
				/>
				<path
					fill-rule="evenodd"
					d="M4.146 8.354a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H14.5a.5.5 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3z"
				/>
			</svg>
			Log out
		</button>
	</ng-container>
	
	<ng-template #loggedOut>
		<button
			(click)="auth.loginWithRedirect()"
			class="btn text-white font-size-custom-smallest custom-button-size-auth custom-rounded border-2 border-white"
		>
			<svg
				xmlns="http://www.w3.org/2000/svg"
				width="12"
				height="12"
				fill="currentColor"
				class="bi bi-box-arrow-in-right custom-size-icon text-white"
				viewBox="0 0 16 16"
			>
				<path
					fill-rule="evenodd"
					d="M6 3.5a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 .5.5v9a.5.5 0 0 1-.5.5h-8a.5.5 0 0 1-.5-.5v-2a.5.5 0 0 0-1 0v2A1.5 1.5 0 0 0 6.5 14h8a1.5 1.5 0 0 0 1.5-1.5v-9A1.5 1.5 0 0 0 14.5 2h-8A1.5 1.5 0 0 0 5 3.5v2a.5.5 0 0 0 1 0v-2z"
				/>
				<path
					fill-rule="evenodd"
					d="M11.854 8.354a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H1.5a.5.5 0 0 0 0 1h8.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3z"
				/>
			</svg>
			Login
		</button>
	</ng-template>
</div>
<ng-template #notMobile>
	<ng-container *ngIf="auth.isAuthenticated$ | async; else loggedOut">
		<button
			(click)="auth.logout({ returnTo: document.location.origin })"
			class="btn text-white custom-button-size custom-rounded border-2 border-white"
		>
			<svg
				xmlns="http://www.w3.org/2000/svg"
				width="16"
				height="16"
				fill="currentColor"
				class="bi bi-box-arrow-in-left text-white custom-size-icon"
				viewBox="0 0 16 16"
			>
				<path
					fill-rule="evenodd"
					d="M10 3.5a.5.5 0 0 0-.5-.5h-8a.5.5 0 0 0-.5.5v9a.5.5 0 0 0 .5.5h8a.5.5 0 0 0 .5-.5v-2a.5.5 0 0 1 1 0v2A1.5 1.5 0 0 1 9.5 14h-8A1.5 1.5 0 0 1 0 12.5v-9A1.5 1.5 0 0 1 1.5 2h8A1.5 1.5 0 0 1 11 3.5v2a.5.5 0 0 1-1 0v-2z"
				/>
				<path
					fill-rule="evenodd"
					d="M4.146 8.354a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H14.5a.5.5 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3z"
				/>
			</svg>
			Logout
		</button>
	</ng-container>
	
	<ng-template #loggedOut>
		<button
			(click)="auth.loginWithRedirect()"
			class="btn text-white custom-button-size custom-rounded border-2 border-white"
		>
			<svg
				xmlns="http://www.w3.org/2000/svg"
				width="16"
				height="16"
				fill="currentColor"
				class="bi bi-box-arrow-in-right text-white custom-size-icon"
				viewBox="0 0 16 16"
			>
				<path
					fill-rule="evenodd"
					d="M6 3.5a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 .5.5v9a.5.5 0 0 1-.5.5h-8a.5.5 0 0 1-.5-.5v-2a.5.5 0 0 0-1 0v2A1.5 1.5 0 0 0 6.5 14h8a1.5 1.5 0 0 0 1.5-1.5v-9A1.5 1.5 0 0 0 14.5 2h-8A1.5 1.5 0 0 0 5 3.5v2a.5.5 0 0 0 1 0v-2z"
				/>
				<path
					fill-rule="evenodd"
					d="M11.854 8.354a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H1.5a.5.5 0 0 0 0 1h8.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3z"
				/>
			</svg>
			Log in
		</button>
	</ng-template>
</ng-template>
