<div>
    <div class="card">
        <div class="card-header">
            <p>Mission</p>
        </div>
        <div class="mission-new">
            <button class="btn btn-warning"
            data-bs-toggle="modal"
            data-bs-target="#createMissionModal">New Mission</button>
        </div>
        <div class="mission-edit">
			<div>
				<form [formGroup]="gameIdForm" (ngSubmit)="onGameIdSubmit()">
					<div class="mb-3">
						<select
							id="gameId"
							formControlName="gameId"
							name="gameId"
							placeholder="Game Id"
							class="form-select"
							required
						>
							<option value="" disabled selected>
								Select Game
							</option>
							<option
								*ngFor="let game of this.gameService.allGames"
								[ngValue]="game.gameId"
							>
								{{ game.name }}
							</option>
						</select>
					</div>
					<button class="btn btn-light"
                        data-bs-toggle="modal"
                        data-bs-target="#chooseMissionModal"
                        [disabled]="gameIdForm.invalid"
                        >Edit Mission
                    </button>
				</form>
			</div>
		</div>
    </div>
</div>

<!-- Create mission -->

<div
	class="modal fade"
	id="createMissionModal"
	tabindex="-1"
	aria-labelledby="createMissionModalLabel"
	aria-hidden="true"
>
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h5
					class="modal-title createMissionText"
					id="createMissionModalLabel"
				>
					Create new mission
				</h5>
				<button
					type="button"
					class="btn-close"
					data-bs-dismiss="modal"
					aria-label="Close"
				></button>
			</div>
			<div class="modal-body">
				<form 
                #createNewMissionForm="ngForm" 
                (ngSubmit)="onCreateMission(createNewMissionForm)">
					<div class="form-group mb-3">
						<label for="inputMissionName" class="form-label"
							>Name</label
						>
						<input
							type="text"
							class="form-control"
							id="inputMissionName"
							name="inputMissionName"
							required
                            ngModel
						    #inputMissionName="ngModel"
						/>
					</div>
                    <div class="form-group mb-3">
						<label for="inputGameId" class="form-label px-1"
							>Game name</label
						>
                        <select name="inputGameId" id="inputGameId" class="form-select" required ngModel #inputGameId="ngModel">
                            <option *ngFor="let game of this.gameService.allGames" [ngValue]="game.gameId">
                                {{ game.name }}
                            </option>
                        </select>
					</div>
					<div class="form-group mb-3">
						<label for="inputStateMission" class="form-label"
							>Human, Zombie or Both mission</label
						>
						<div class="form-check">
                            <input 
                            class="form-check-input" 
                            type="checkbox" 
                            value="" 
                            id="humanChecked"
                            name="humanChecked"
                            ngModel
                            #humanChecked="ngModel"
                            >
                            <label class="form-check-label" for="humanChecked">
                              Human
                            </label>
                          </div>
                          <div class="form-check">
                            <input 
                            class="form-check-input" 
                            type="checkbox" 
                            value="" 
                            id="zombieChecked"
                            name="zombieChecked"
                            ngModel
                            #zombieChecked="ngModel"
                            >
                            <label class="form-check-label" for="zombieChecked">
                              Zombie
                            </label>
                          </div>
					</div>
					<div class="form-group mb-3">
						<label for="inputMissionDescription" class="form-label"
							>Description</label
						>
						<textarea
							type="text"
                            rows="2"
                            cols="40"
							class="form-control"
                            style="resize: none"
							id="inputMissionDescription"
							name="inputMissionDescription"
                            ngModel
                            maxlength="200"
						    #inputMissionDescription="ngModel">
                        </textarea>
					</div>
					<div class="form-group mb-3">
						<label for="inputNwLat" class="form-label"
							>NW Latitude</label
						>
						<input
							type="number"
							class="form-control"
							id="inputNwLat"
							name="inputNwLat"
							min="-90"
							max="90"
							aria-describedby="nwLatHelp"
                            ngModel
                            #inputNwLat="ngModel"
						/>
						<div id="nwLatHelp" class="form-text">
							Min: -90. Max: 90.
						</div>
					</div>
					<div class="form-group mb-3">
						<label for="inputNwLong" class="form-label"
							>NW Longitude</label
						>
						<input
							type="number"
							class="form-control"
							id="inputNwLong"
							name="inputNwLong"
							min="-180"
							max="180"
							aria-describedby="nwLongHelp"
                            ngModel
                            #inputNwLong="ngModel"
						/>
						<div id="nwLongHelp" class="form-text">
							Min: -180. Max: 180.
						</div>
					</div>
					<div class="form-group mb-3">
						<label for="inputSeLat" class="form-label"
							>SE Latitude</label
						>
						<input
							type="number"
							class="form-control"
							id="inputSeLat"
							name="inputSeLat"
							min="-90"
							max="90"
							aria-describedby="seLatHelp"
                            ngModel
                            #inputSeLat="ngModel"
						/>
						<div id="seLatHelp" class="form-text">
							Min: -90. Max: 90.
						</div>
					</div>
					<div class="form-group mb-3">
						<label for="inputSeLong" class="form-label"
							>SE Longitude</label
						>
						<input
							type="number"
							class="form-control"
							id="inputSeLong"
							name="inputSeLong"
							min="-180"
							max="180"
							aria-describedby="seLongHelp"
                            ngModel
                            #inputSeLong="ngModel"
						/>
						<div id="seLongHelp" class="form-text">
							Min: -180. Max: 180.
						</div>
					</div>
                    <div class="form-group mb-3">
						<label for="inputStartTime" class="form-label"
							>Start time</label
						>
						<input
							type="datetime-local"
							class="form-control"
							id="inputStartTime"
							name="inputStartTime"
							aria-describedby="startTimeHelp"
                            ngModel
                            #inputStartTime="ngModel"
						/>
					</div>
                    <div class="form-group mb-3">
						<label for="inputEndTime" class="form-label"
							>End time</label
						>
						<input
							type="datetime-local"
							class="form-control"
							id="inputEndTime"
							name="inputEndTime"
							aria-describedby="endTimeHelp"
                            ngModel
                            #inputEndTime="ngModel"
						/>
					</div>
					<button
						type="submit"
						class="btn btn-primary"
						data-bs-dismiss="modal"
						[disabled]="createNewMissionForm.form.invalid"
					>
						Create
					</button>
				</form>
			</div>
			<div class="modal-footer">
				<button
					type="button"
					class="btn btn-warning"
					data-bs-dismiss="modal"
				>
					Close
				</button>
			</div>
		</div>
	</div>
</div>

<!-- Choose mission -->

<div class="modal fade"
    id="chooseMissionModal"
    tabindex="-1"
    aria-labelledby="editMissionModalLabel"
	aria-hidden="true"
>
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5
					class="modal-title editMissionText"
					id="editMissionModalLabel"
				>
					Choose mission
				</h5>
            </div>
                <div class="modal-body">
                    <form
                    [formGroup]="setMissionForm"
                    #setEditMissionForm="ngForm" 
                    (ngSubmit)="setEditMission()">
                        <div class="form-group mb-3">
                            <label for="inputMissionId" class="form-label"
                                >Mission Name</label
                            >
                            <select name="inputMissionId"
                             id="inputMissionId"
							 class="form-select"
                             required 
                             formControlName="inputMissionId">
                                <option value="" disabled selected>
								Select Mission
							    </option>
                                <option *ngFor="let mission of this.missionService.allMissions" [ngValue]="mission.missionId">
                                    {{ mission.name }}
                                </option>
                            </select>
                        </div>
                        <button class="btn btn-primary"
                            data-bs-toggle="modal"
                            data-bs-target="#editMissionModal"
                            [disabled]="setEditMissionForm.invalid">
                            Edit Mission
                        </button>
                    </form>
                </div>
            <div class="modal-footer">
				<button
					type="button"
					class="btn btn-warning"
					data-bs-dismiss="modal"
				>
					Close
				</button>
			</div>
        </div>
    </div>
</div>

<!-- Edit mission -->

<div
	class="modal fade"
	id="editMissionModal"
	tabindex="-1"
	aria-labelledby="editMissionModalLabel"
	aria-hidden="true"
>
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h5
					class="modal-title editMissionText"
					id="editMissionModalLabel"
				>
					Edit a mission
				</h5>
				<button
					type="button"
					class="btn-close"
					data-bs-dismiss="modal"
					aria-label="Close"
				></button>
			</div>
			<div class="modal-body">
				<form 
                [formGroup]="editMissionForm"
                #editNewMissionForm="ngForm" 
                (ngSubmit)="onSubmitEditMission()">
					<div class="form-group mb-3">
						<label for="inputMissionName" class="form-label"
							>Name</label
						>
						<input
							type="text"
							class="form-control"
							id="inputMissionName"
							name="inputMissionName"
                            formControlName="inputMissionName"
							required
						/>
					</div>
					<div class="form-group mb-3">
						<label for="inputStateMission" class="form-label"
							>Human, Zombie or Both mission</label
						>
						<div class="form-check">
                            <input 
                            class="form-check-input" 
                            type="checkbox" 
                            value="" 
                            id="humanChecked"
                            name="humanChecked"
                            formControlName="humanChecked"
                            >
                            <label class="form-check-label" for="humanChecked">
                              Human
                            </label>
                          </div>
                          <div class="form-check">
                            <input 
                            class="form-check-input" 
                            type="checkbox" 
                            value="" 
                            id="zombieChecked"
                            name="zombieChecked"
                            formControlName="zombieChecked"
                            >
                            <label class="form-check-label" for="zombieChecked">
                              Zombie
                            </label>
                          </div>
					</div>
					<div class="form-group mb-3">
						<label for="inputMissionDescription" class="form-label"
							>Description</label
						>
						<textarea
							type="text"
                            rows="2"
                            cols="40"
							class="form-control"
                            style="resize: none"
							id="inputMissionDescription"
							name="inputMissionDescription"
                            formControlName="inputMissionDescription"
						>
                    </textarea>
					</div>
					<div class="form-group mb-3">
						<label for="inputNwLat" class="form-label"
							>NW Latitude</label
						>
						<input
							type="number"
							class="form-control"
							id="inputNwLat"
							name="inputNwLat"
							min="-90"
							max="90"
							aria-describedby="nwLatHelp"
                            formControlName="inputNwLat"
						/>
						<div id="nwLatHelp" class="form-text">
							Min: -90. Max: 90.
						</div>
					</div>
					<div class="form-group mb-3">
						<label for="inputNwLong" class="form-label"
							>NW Longitude</label
						>
						<input
							type="number"
							class="form-control"
							id="inputNwLong"
							name="inputNwLong"
							min="-180"
							max="180"
							aria-describedby="nwLongHelp"
                            formControlName="inputNwLong"
						/>
						<div id="nwLongHelp" class="form-text">
							Min: -180. Max: 180.
						</div>
					</div>
					<div class="form-group mb-3">
						<label for="inputSeLat" class="form-label"
							>SE Latitude</label
						>
						<input
							type="number"
							class="form-control"
							id="inputSeLat"
							name="inputSeLat"
							min="-90"
							max="90"
							aria-describedby="seLatHelp"
                            formControlName="inputSeLat"
						/>
						<div id="seLatHelp" class="form-text">
							Min: -90. Max: 90.
						</div>
					</div>
					<div class="form-group mb-3">
						<label for="inputSeLong" class="form-label"
							>SE Longitude</label
						>
						<input
							type="number"
							class="form-control"
							id="inputSeLong"
							name="inputSeLong"
							min="-180"
							max="180"
							aria-describedby="seLongHelp"
                            formControlName="inputSeLong"
						/>
						<div id="seLongHelp" class="form-text">
							Min: -180. Max: 180.
						</div>
					</div>
                    <div class="form-group mb-3">
						<label for="inputStartTime" class="form-label"
							>Start time</label
						>
						<input
							type="datetime-local"
							class="form-control"
							id="inputStartTime"
							name="inputStartTime"
							aria-describedby="startTimeHelp"
                            formControlName="inputStartTime"
						/>
					</div>
                    <div class="form-group mb-3">
						<label for="inputEndTime" class="form-label"
							>End time</label
						>
						<input
							type="datetime-local"
							class="form-control"
							id="inputEndTime"
							name="inputEndTime"
							aria-describedby="endTimeHelp"
                            formControlName="inputEndTime"
						/>
					</div>
					<button
						type="submit"
						class="btn btn-primary"
						data-bs-dismiss="modal"
						[disabled]="editNewMissionForm.form.invalid"
					>
						Submit mission
					</button>
				</form>
			</div>
			<div class="modal-footer">
				<button
					type="button"
					class="btn btn-warning"
					data-bs-dismiss="modal"
				>
					Close
				</button>
			</div>
		</div>
	</div>
</div>