.createMissionText{
    color: #006AD1;
}

.card {
    background-color: #585858e0;
    opacity: 90%;
    text-align: center;
    
}

.card-header p{
    color: #ffffff;
    font-size: 2em;
}

.mission-new{
    padding: 20px;
}

.mission-edit{
    padding: 10px;
}