/* Component sizes */

.max-h-90 {
    max-height: 90%;
}

.w-90 {
    width: 90%;
}

.min-vh-60 {
    min-height: 60vh;
}

.min-vw-75 {
    min-width: 75vw;
}

.custom-rounded {
    border-radius: .6rem;
}

/* TABS */

.tab-bg-color {
    background-color: #f6edd9;
}


/* BUTTONS */

.bg-info-custom-false {
    background-color: #006AD1;
}

.bg-info-custom-false:hover {
    background-color: #003c77;
}

.bg-info-custom-true {
    background-color: #ffc107;
}

.bg-info-custom-true:hover {
    background-color: #b98d07;
}

.bg-warning-custom {
    background-color: #e21d1d;
}

.bg-warning-custom:hover {
    background-color: #c51717;
}

.bg-success-custom {
    background-color: #6EAF65;
}

.bg-success-custom:hover {
    background-color: #50804a;
}

/* BACKGROUND COLORS */

.bg-squads {
    background-color: #fd754d;
    border-top-left-radius: 0.28rem;
    border-top-right-radius: 0.28rem;
    font-weight: 600;
}

.bg-zombies {
    background-color: #6EAF65;
    border-top-left-radius: 0.28rem;
    border-top-right-radius: 0.28rem;
    font-weight: 600;
}

.bg-human {
    background-color: #6597af;
    border-top-left-radius: 0.28rem;
    border-top-right-radius: 0.28rem;
    font-weight: 600;
}



/* FONTS */

.font-size-custom-smaller {
    font-size: smaller;
}

.font-size-custom-smallest {
    font-size: xx-small;
}

.font-size-custom-medium {
    font-size: medium;
}

.font-size-custom-large {
    font-size: large;
}

.text-custom-blue-color {
    color: #006AD1;
}

.text-custom-red-color {
    color: #c51717;
}