<li *ngIf="game && this.userService.player$ | async as player; else notRegistered" class="bg-white border border-dark">
	<div class="container-fluid">
		<div class="row align-items-center">
			<div class="col-sm">
				{{ game!.name }}
			</div>
			<div class="col-sm">
				{{ game!.gameState }}
			</div>
			<div class="col-sm">{{ game!.playerCount }}/100 PLAYERS</div>
			<div class="col-sm">
				<button
					(click)="onJoinClick()"
					*ngIf="player.gameId === game?.gameId && (authService.isAuthenticated$ | async)"
					class="btn custom-padding-button bg-info-custom-{{ player.human }} text-color-{{ player.human }}"
				>
					GAME DETAILS
				</button>
			</div>
		</div>
	</div>
</li>
<ng-template #notRegistered>
	<li *ngIf="game" class="bg-white border border-dark">
		<div class="container-fluid">
			<div class="row align-items-center">
				<div class="col-sm">
					{{ game.name }}
				</div>
				<div class="col-sm">
					{{ game.gameState }}
				</div>
				<div class="col-sm">{{ game.playerCount }}/100 PLAYERS</div>
				<div class="col-sm">
					<button
						(click)="onJoinClick()"
						*ngIf="authService.isAuthenticated$ | async"
						class="btn custom-padding-button bg-info text-white"
					>
						GAME DETAILS
					</button>
				</div>
			</div>
		</div>
	</li>
</ng-template>
