button:disabled {
    background-color: grey !important;
}

.text-color-true {
    color: black;
}

.text-color-false {
    color: white;
}

.custom-padding-button {
    padding: 0.25rem 1rem;
}

@media (min-width: 768px) {
    button:disabled {
        background-color: grey !important;
    }
    
    .text-color-true {
        color: black;
    }
    
    .text-color-false {
        color: white;
    }
    
    .custom-padding-button {
        padding: 0.5rem 1rem;
    }
}