<div *ngIf="currentWindowWidth < 768; else notMobile">
    <div *ngIf="this._squad" class="tab-bg-color w-100 h-100 min-vh-60 min-vw-75">
        <div class="container-fluid py-4 px-1 fw-normal">
            <div class="row align-items-center">
                <div class="col-4">
                    <h1 class="fw-bold font-size-custom-large text-shadow text-start mx-2">{{ _squad.name }}</h1>
                </div>
                <div class="col">
                    <button (click)="onCheckin()" class="btn bg-info-custom-true custom-button-size font-size-custom-smaller custom-rounded text-white">Check-in Position</button>
                </div>
                <div class="col">
                    <button (click)="onLeaveSquad()" class="btn bg-warning-custom custom-button-size font-size-custom-smaller custom-rounded text-white">Leave Squad</button>
                </div>
            </div>
        </div>
        <div
                class="d-flex flex-row justify-content-start mt-4 px-4 align-items-center"
            >
                <img
                    src="../../../assets/images/hvz_markers/squad.png"
                    class="custom-width-small"
                />
                <h5 class="px-2 fw-bold text-custom-blue-color font-size-custom-large">Squad Members</h5>
        </div>
        <div class="container-fluid my-2 px-4 custom-padding-bottom fw-normal">
            <div class="container-fluid">
                <div class="row align-items-end">
                    <div class="col-3 text-start font-size-custom-medium">#Name</div>
                    <div class="col font-size-custom-medium">
                        <img
                            src="../../../assets/images/military-rank.png"
                            class="custom-width-medsmall"
                        />
                        Rank
                    </div>
                    <div class="col font-size-custom-medium">
                        <img
                            src="../../../assets/images/hvz_markers/social-network.png"
                            class="custom-width-medsmall"
                        />
                        State
                    </div>
                    <div>
                        
                    </div>
                </div>
            </div>
            <ul
            *ngIf="this.playerService.allPlayersInSquad$ | async as squadMembers"
            class="list-unstyled mt-1"
            >
                <app-squad-member-list
                *ngFor="let squadMember of squadMembers" 
                [_squadMember]="squadMember"
                ></app-squad-member-list>
            </ul>
        </div>
    </div>
</div>
<ng-template #notMobile>
    <div *ngIf="this._squad" class="tab-bg-color w-100 h-100 min-vh-60 min-vw-75">
        <div class="container-fluid py-4 px-1 fw-normal">
            <div class="row align-items-center">
                <div class="col-7">
                    <h1 class="fw-bold text-shadow text-start mx-2">{{ _squad.name }}</h1>
                </div>
                <div class="col">
                    <button (click)="onCheckin()" class="btn bg-info-custom-true custom-rounded text-white">Check-In Position</button>
                </div>
                <div class="col">
                    <button (click)="onLeaveSquad()" class="btn bg-warning-custom custom-rounded text-white">Leave Squad</button>
                </div>
            </div>
        </div>
        <div
                class="d-flex flex-row justify-content-start mt-4 px-4 align-items-center"
            >
                <img
                    src="../../../assets/images/hvz_markers/squad.png"
                    class="custom-width-small"
                />
                <h5 class="px-2 fw-bold text-custom-blue-color">Squad Members</h5>
        </div>
        <div class="container-fluid my-2 px-4 custom-padding-bottom fw-normal">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-4 text-start">#Name</div>
                    <div class="col">
                        <img
                            src="../../../assets/images/military-rank.png"
                            class="custom-width-medsmall"
                        />
                        Rank
                    </div>
                    <div class="col">
                        <img
                            src="../../../assets/images/hvz_markers/social-network.png"
                            class="custom-width-medsmall"
                        />
                        State
                    </div>
                    <div class="col"></div>
                </div>
            </div>
            <ul
            *ngIf="this.playerService.allPlayersInSquad$ | async as squadMembers"
            class="list-unstyled mt-1"
            >
                <app-squad-member-list
                *ngFor="let squadMember of squadMembers" 
                [_squadMember]="squadMember"
                ></app-squad-member-list>
            </ul>
        </div>
    </div>
</ng-template>
