<div class="tab-bg-color w-100 h-100 min-vh-60 min-vw-75">
	<div class="container-fluid d-flex flex-column align-items-start px-4 py-2 fw-normal">
		<h4 class="fw-bold my-1 text-custom-blue-color custom-text-size">+ Create New Squad</h4>
		<div class="bg-white custom-rounded my-2 p-2 px-4 w-100">
			<form
				#registerSquad="ngForm"
				(ngSubmit)="onSubmitNewSquad(registerSquad)"
			>
				<div class="form-group">
					<label for="squadName" class="mb-1">Squad name</label>
					<div class="input-group">
						<input
							id="squadName"
							name="squadName"
							[ngClass]="{
								'is-valid': squadName.valid,
								'is-invalid':
									squadName.invalid &&
									(squadName.dirty || squadName.touched)
							}"
							class="form-control custom-rounded"
							placeholder="e.g. cutDCord"
							minlength="4"
							maxlength="30"
							required
							ngModel
							#squadName="ngModel"
						/>
						<span class="input-group-btn mx-2">
							<button
								type="submit"
								[disabled]="registerSquad.invalid"
								class="btn"
							>
								<svg
									xmlns="http://www.w3.org/2000/svg"
									width="32"
									height="32"
									fill="currentColor"
									class="bi bi-plus-circle-fill text-success"
									viewBox="0 0 16 16"
								>
									<path
										d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8.5 4.5a.5.5 0 0 0-1 0v3h-3a.5.5 0 0 0 0 1h3v3a.5.5 0 0 0 1 0v-3h3a.5.5 0 0 0 0-1h-3v-3z"
									/>
								</svg>
							</button>
						</span>
					</div>
					<div
						*ngIf="
							squadName.errors &&
							squadName.invalid &&
							(squadName.dirty || squadName.touched)
						"
					>
						<p
							class="invalid-feedback mb-1 font-size-custom-smaller"
							style="display: block"
							*ngIf="squadName.errors['required']"
						>
							The squad name is required.
						</p>
						<p
							class="invalid-feedback mb-1 font-size-custom-smaller"
							style="display: block"
							*ngIf="squadName.errors['minlength']"
						>
							The squad name is too short.
						</p>
						<p
							class="invalid-feedback mb-1 font-size-custom-smaller"
							style="display: block"
							*ngIf="squadName.errors['maxlength']"
						>
							The squad name is too long.
						</p>
					</div>
				</div>
			</form>
		</div>
		<div
			class="d-flex flex-row mt-4 align-items-center"
		>
			<img
				src="../../../assets/images/hvz_markers/squad.png"
				class="custom-width-small"
			/>
			<h5 class="px-2 fw-bold text-custom-blue-color custom-text-size">Squads</h5>
		</div>
		<div *ngIf="currentWindowWidth < 768; else notMobile">
			<div class="container-fluid mt-2">
				<div class="row align-items-end">
					<div class="col-3 text-start">#Name</div>
					<div class="col">
						<img
							src="../../../assets/images/hvz_markers/people.png"
							class="custom-width-small"
						/>
						Members
					</div>
					<div class="col">
						<img
							src="../../../assets/images/hvz_markers/death.png"
							class="custom-width-small"
						/>
						Deceased
					</div>
					<div class="col"></div>
				</div>
			</div>
			<ul
				class="list-unstyled"
				*ngIf="this.squadService.allSquads$ | async as squads"
			>
				<app-squad-list-item
					*ngFor="let squad of squads"
					[_squad]="squad"
					[_game]="game"
				>
				</app-squad-list-item>
			</ul>
		</div>
		<ng-template #notMobile>
			<div>
				<div class="container-fluid mt-2">
					<div class="row align-items-end">
						<div class="col-4 text-start">#Name</div>
						<div class="col">
							<img
								src="../../../assets/images/hvz_markers/people.png"
								class="custom-width-small"
							/>
							Members
						</div>
						<div class="col">
							<img
								src="../../../assets/images/hvz_markers/death.png"
								class="custom-width-small"
							/>
							Deceased
						</div>
						<div class="col"></div>
					</div>
				</div>
				<ul
					class="list-unstyled"
					*ngIf="this.squadService.allSquads$ | async as squads"
				>
					<app-squad-list-item
						*ngFor="let squad of squads"
						[_squad]="squad"
						[_game]="game"
					>
					</app-squad-list-item>
				</ul>
			</div>
		</ng-template>
	</div>
</div>
